body{
    background-color: black;
}
.achievements_table {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    text-align: center;
    margin-top: 8rem; /* root emphemeral unit*/
    border-collapse: collapse;
    width: 100%;
}
.heading {
    font-size: x-large;
    padding: 1rem;
    color: white;
    background-color: #503d34;
    border-bottom: 2px solid #907163;
    border-radius: 5px 5px 0px 0px;
}
.row {
    border-bottom: 2px solid #379683ed;
    color: #080000;
    font-size: larger;
  
}
td {
    padding: 1rem;
    
}
.odd {
    background-color: #edf5e1;
}
.even {
    background-color: #e1f0ca;
}
.navbar {
    position: sticky;
    display: flex;
    padding: 20px;
    background-color: #379683;
   }

/* Style the links inside the navigation bar */
.navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #5cdb95;
}
