.navbar {
    position: sticky;
    display: flex;
    padding: 20px;
    background-color: #379683;
   }

/* Style the links inside the navigation bar */
.navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #5cdb95;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
  }
.en-div{
    width: 1300px;
    margin: 30px;
}
.gallery-img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 300px;
    width: auto;
}
.gallery-card{
    background-color: rgba(248, 6, 127, 0.2);
    margin-bottom: 10px;
    width: 600px;
    height: auto;
    padding: 20px;
    display: inline-block;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
}